<div class="card-container">
    <div class="card-row">
<!--<button class="btn-primary" type="button" (click)="show()">click here</button>-->
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Type Product Name" aria-label="Type Product Name" aria-describedby="button-addon2" [(ngModel)]="newProduct">-->
    <!--<ul>
      <li class="d-flex my-3 px-2 py-2" *ngFor= " let prod of products; let i=index" (click)="add(i)" >{{prod}}<button class="btn btn-outline-secondary " type="submit" id="button-addon2">Add</button></li>
  </ul>-->
  </div>
</div>
</div>
